.ltdsyle{
    width:100%;
}
.ltcstyle{
    margin-top:10px;
}

.otpbtn{
    margin-top:20px;
    margin-right:20px;
}

.donebtn{
    width:100%;
    margin-bottom:20px;
    background-color: #ED1164;
    color:white;
    border-radius: 25px;
    border:hidden;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 14px;
    padding-top:5px;
    padding-bottom:5px;
    
}

.donebtn:focus{
    outline:none;
}

