/*.txtstl{
    font-family:'Montserrat';
    color:#000000;
    font-weight: 600;
    font-size: 18px;
}*/

.logrow{
    margin-top: 50px;
}

.inprow{
    margin-top:40px;
    margin-bottom:20px;
}

/*.mbtxtbox{
    border-bottom:1px #ACACAC solid;
    font-weight: 400;
    font-family: 'Montserrat';
    font-size: 24px;
    padding-bottom: 5px;
    color: #9E9E9E;
    width:100%;
}*/

.mbinpstl1{
    border-bottom:1px #ACACAC solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    color: #9E9E9E;
    width:80%;
    
}

.mbinpstl1:focus{
    outline: none;
}

