.inpsl1{
   width:100%;
    margin-top: 10px;
    border-radius: 5px;
    height:40px;
    padding-left:10px;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 14px;
}

.inpsl1:focus{
    outline:none;
}

.namestyl::placeholder{
    padding-left: 0px;
    color:#535353;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 16px;

}

.namestyl{
    margin-top: 10px;
    border-color: #A75BFF;
    border-width: 1px;
    background-color: #F5F5F5;
}

.emailstyl{
    border-color:#ED1164;
    border-width: 1px;
    background-color:#F6F6F6;
}

.emailstyl::placeholder{
    padding-left: 0px;
    color:#A9A9A9;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 16px;
}

.relstyl{
    border-color: #DEDEDE;
    border-width: 1px;
    background-color: #F5F5F5;
}

.relstyl::placeholder{
    padding-left: 0px;
    color:#A9A9A9;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 16px;
}

.locstyl{
    border-color: #DEDEDE;
    border-width: 1px;
    background-color: #F5F5F5;
}

.locstyl::placeholder{
    padding-left: 0px;
    color:#A9A9A9;
    font-family:'Montserrat';
    font-weight:500;
    font-size: 16px;
}

::placeholder{
    padding-left: 5%;
}