/*.txt{
    margin-top: 40px;
    color:#000000;
    font-family:'Montserrat';
    font-weight:600;
    font-size:18px;
}

.txt1{
    color:#000000;
    font-family:'Montserrat';
    font-weight:600;
    font-size:18px;
}


.txtbox{
    border-bottom:1px gray solid;
    font-size: 20px;
    padding-bottom: 5px;
    color: gray;
}*/
.otpinp{
    border-bottom:0px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    font-size:20px;
}

.otpinp:focus{
    outline: none;
}

.inpsl{
    width:100%;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-radius: 0px;
    padding-left: 10px;
    font-size: 20px;
}

.inpsl:focus{
     outline: none;
}

.eyeimg{
    border:hidden;
}

.eyebutton{
    border: hidden;
    background: white;
    margin-bottom:5px;
}

.eyebutton:focus{
    outline:none;
}

.otpinp::placeholder{
    padding-left:0px;
}